@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    height: 100vh;
}

.dark-text {
    color:#1f2937;
}

.light-text {
    color:#e5e7eb;
}

.lighter-text {
    color:#f9faf8
}

.white-text {
    color: white;
}

.dark-bg {
    background-color: #1f2937;
}

.blue-bg {
    background-color: #3882f6;
}

.grey-bg {
    background-color: #e5e7eb;
}

.white-border {
    border: solid white 2px;
}

.extra-bold {
    font-weight: 900;
}

.bold {
    font-weight: 700;
}

.light-italic {
    font-weight: 300;
    font-style: italic;
}

.size-48 {
    font-size: 48px;
}

.size-36 {
    font-size: 36px;
}

.size-24 {
    font-size: 24px;
}

button {
    border-radius: 8px;
    padding: 4px 16px;
    border: none;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.footer {
    padding: 36px;
}

.wrapper {
    width: 1200px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grow {
    flex: 1;
}

.one {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.right {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.card-container {
    display: flex;
    gap: 32px;
}

.img {
    border-radius: 8px;
    border: #3882f6 solid 3px;
    height: 100px;
    width: 100px;
}

.subtext {
    max-width: 100px;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
}

.three{
    padding: 96px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    padding: 0;
}

.signature {
    font-weight: bold;
    align-self: flex-end;
}

.four {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    padding: 32px 0px;
}